<h3>Thanks for shopping with us!</h3>

<p> Let's review your order: </p>

<% @order.order_items.each do |key,value| %>
	<ul>
		<li>Product: <%= Product.find(key).name %> - QTY: <%= value %></li>
	</ul>

<% end %>

<p>
	<stong>Order Total:</stong> <%= number_to_currency @order.grand_total %>
</p>
